apiVersion: v1
kind: Service
metadata:
  name: sample-project-service
spec:
  type: NodePort
  selector:
    app: sample-project
  ports:
    - protocol: TCP
      port: 80        # Port yang dipakai di dalam cluster
      targetPort: 3000 # Port container
      nodePort: 30080 # Port di localhost (akses via localhost:30080)
